{% extends 'main.html' %}
{% load static %}
{% block title %}
Checkout
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <form method="POST" class="form" action="">
            {% csrf_token %}

            <!-- Customer Details -->
            <div class="row g-3">
                <div class="Customer-infor">
                    <div class="col-md-6">
                        <label for="username" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>

                    <div class="col-md-6">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required>
                    </div>
                </div>


                <!-- Shipping Address -->
                <div class="shipping-infor">
                    <div class="col-md-6">
                        <label for="address" class="form-label">Shipping Address</label>
                        <input type="text" class="form-control" id="address" name="address"
                            placeholder="Street, City, Region" required>
                    </div>

                    <div class="col-md-6">
                        <label for="zip_code" class="form-label">ZIP / Postal Code</label>
                        <input type="text" class="form-control" id="zip_code" name="zip_code"
                            placeholder="ZIP / Postal Code" required>
                    </div>
                    <div class="col-md-6">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" placeholder="Your state" id="state" name="state"
                            required>
                    </div>
                    <div class="col-md-6">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" placeholder="Country" id="country" name="country"
                            required>
                    </div>

                </div>

            </div>
            <!-- Submit Button -->

            {% if total_price > 0 %}
            <div class="mt-4  submit-form-btn">
                <button type="submit" class="btn btn-success btn-lg w-100">Continue</button>
            </div>
            {% endif %}


        </form>
        <div class="mt-4 btn btn-success btn-lg w-100 paypal" hidden>
            <small>Paypal Options</small>
            <button class="btn btn-outline-info btn-lg w-100">Make payments</button>
        </div>
    </div>



    <div class="col-lg-6">
        <a href="{% url 'myapp:cart' %}" class="btn btn-lg btn-outline-info">back to card</a>
        <!-- Order Summary -->
        <h4 class="fw-semibold mb-4">Order Summary</h4>
        <p class="text-muted">Please review your order details before proceeding.</p>
        <table class="table table-bordered align-middle">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>

                {% for item in order_items %}




                <tr>
                    <td class="text-center">
                        <img src="{{item.product.imageUrl}}" alt="{{ item.product.name }}" class="img-thumbnail rounded"
                            style="width: 60px; height: 60px; object-fit: cover;">
                    </td>

                    <td>${{ item.product.price }}</td>
                    <td>
                        {{ item.quantity }}
                    </td>

                    <td>${{ item.total_price }}</td>

                </tr>


                {% endfor %}

            </tbody>
        </table>

        <!-- Total Price -->
        <h5 class="fw-semibold text-end">Total: ${{ total_price }}</h5>
    </div>
</div>

<script>
    const shipping = '{{shipping|lower}}';
    console.log('shipping is not digital', shipping);
    if (shipping === 'false') {
        document.querySelector('.shipping-infor').innerHTML = '';
    }

    if (user !== 'AnonymousUser') {
        document.querySelector('.Customer-infor').innerHTML = '';
    }

    const form = document.querySelector('.form');
    form.onsubmit = function (e) {
        e.preventDefault()
        document.querySelector('.paypal').hidden = false;
        document.querySelector('.submit-form-btn').hidden = true;
    }
    document.querySelector('.paypal').addEventListener('click', function () {
        submitData()
    })

    const submitData = () => {

        let total = '{{total_price}}'
        console.log('total', total)
        let userData = {
            'username': '',
            'email': '',
            'phone': '',
            'total_price': total,

        }
        if (user === 'AnonymousUser') {

            userData.username = form.username.value
            userData.email = form.email.value
            userData.phone = form.phone.value
        }

        console.log('data submited..', userData)
        let shippingData = {
            'address': '',
            'state': '',
            'zip_code': '',
            'country': '',
        }
        console.log('shipping data', shippingData)

        if (shipping === 'true') {
            shippingData.address = form.address.value
            shippingData.state = form.state.value
            shippingData.zip_code = form.zip_code.value
            shippingData.country = form.country.value
        }

        const url = '/process-order/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                'form': userData, 'shipping-data': shippingData
            })
        })
            .then(resp => resp.json())
            .then(data => {
                console.log(data)
                window.location.href = "{% url 'myapp:store' %}"
            })
            .catch(Error => console.log(Error))
    }
</script>

{% endblock content %}